html{
	background: url(images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#cup {
position: fixed;
top:10px;
left: 920px;
}

#plate{
position:fixed;
top:30px;
left: -235px;
}

#napkin{
position:fixed;
top:200px;
left:600px;
}

#fork{
position:fixed;
top:300px;
left:775px;
z-index:1;
}

#cookie{
z-index:1;
}